<div
  class="look_card">
  {% render 'image', class: 'look_image', mobileSrc: section.settings.look_image, desktopSrc: section.settings.look_image, %}
  <div
    class="look_text_card">
    <h4>{{ section.settings.subheading }}</h4>
    <h2>{{ section.settings.heading }}</h2>
    <a
      class="look_link"
      href="{{section.settings.button_link}}">
      <button
        class="button look_btn">{{ section.settings.button_label }}</button>
    </a>
  </div>
</div>

<style>
  .look_card {
    display: flex;
  }
  .look_image {
    width: 50%;
  }
  .look_text_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ECF1F5;
    padding: 20px;
  }
  .look_text_card h4 {
    font-size: 28px;
  }
  .look_text_card h2 {
    font-size: 52px;
  }
  .look_btn {
    background-color: #000000;
    color: #ECF1F5;
    border: 2px solid #000000;
    text-decoration: none;
    font-size: 16px;
  }
  .look_btn:hover {
    background-color: #ECF1F5;
    color: #000000;
    border: 2px solid #000000;
  }
  .look_link {
    text-decoration: none;
  }
  @media screen and (max-width:749px) {
    .look_card {
      display: block;
    }
    .look_text_card {
      display: block;
      width: 100%;
    }
  }
</style>

{% schema %}
  {
    "name": "Look",
    "class": "look",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "look_image",
        "label": "Image",
        "info": "1400 x 1400px recommended"
      },
      {
        "type": "radio",
        "id": "desktop_image_position",
        "label": "Image position (desktop)",
        "options": [
          {
            "label": "Left",
            "value": "left"
          }, {
            "label": "Right",
            "value": "right"
          }
        ],
        "default": "left"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "label": "Left",
            "value": "left"
          }, {
            "label": "Center",
            "value": "center"
          }, {
            "label": "Right",
            "value": "right"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Inspire customers"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Lookbook"
      }, {
        "type": "header",
        "content": "BUTTONS"
      }, {
        "type": "product",
        "label": "Button link",
        "id": "button_link"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "Shop the look"
      }, {
        "type": "radio",
        "id": "button_style",
        "label": "Button style",
        "options": [
          {
            "label": "Outline",
            "value": "outline"
          }, {
            "label": "Fill",
            "value": "fill"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Look"
      }
    ]
  }
{% endschema %}